<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065960907092-d0q2du7d0khvoho0vgsuk66iin31tgoh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065960907092-d0q2du7d0khvoho0vgsuk66iin31tgoh</string>
	<key>API_KEY</key>
	<string>AIzaSyAbkb8Hgb__OVZiebqvpbLw8unVSBVefoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1065960907092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>code.with.kyo.riverpodInstagramClone</string>
	<key>PROJECT_ID</key>
	<string>docscanner-8cda5</string>
	<key>STORAGE_BUCKET</key>
	<string>docscanner-8cda5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065960907092:ios:18dea4b0b1a74b740a28c1</string>
</dict>
</plist>